/* Set the footer at the bottom of the pages */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: var(--background-raised-grey);
}

.footer {
  background-color: var(--background-raised-grey);
}

@media only screen and (max-width: 767px) {
  .reverse-md {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Content css */
.background-welcome-page {
  background-color: var(--background-alt-brown-opera);
}

.centered-content {
  display: flex;
  justify-content: center;
}

.centered-text {
  text-align: center;
}

.blue-france {
  color: var(--text-title-blue-france);
}

.delete-margin-bottom {
  margin-bottom: 0;
}

.card-radius {
  background-color: var(--background-alt-blue-france);
  border-radius: 11px;
}

.display-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pc-background-white {
  background-color: var(--background-default-grey);
}

.pc-background-alt-blue-france {
  background-color: var(--background-alt-blue-france);
}

/* For links accessibility */
/* https://www.ffoodd.fr/masquage-accessible-de-pointe/index.html */

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}
