/* FRISE CHRONOLOGIQUE */

.navmenu ul.roadmap-list {
  list-style: none;
  padding-left: 30px;
  position: relative;
  border-left: 2px solid var(--background-action-high-blue-france);
}

ul.roadmap-event-list li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navmenu ul li.roadmap-item {
  padding: 20px 0;
  padding-left: 15px;
  position: relative;
  line-height: 1rem;
}

.navmenu ul li.roadmap-item::after {
  content: "";
  position: absolute;
  background: var(--background-default-grey);
  width: 22px;
  height: 22px;
  left: -42px;
  top: 46px;
  transform: translateY(-50%);
  border-radius: 50px;
  border: 2px solid var(--background-action-high-blue-france);
  transition: background 250ms;
}

.navmenu ul li.active.roadmap-item::after {
  background: var(--background-action-high-blue-france);
}

.navmenu ul li.roadmap-item:last-child::before {
  content: "";
  width: 18px;
  top: 40px;
  bottom: 0;
  position: absolute;
  background-color: var(--background-default-grey);
  left: -40px;
}

.navmenu ul li.roadmap-item:first-child::before {
  content: "";
  width: 20px;
  top: 0;
  height: 38px;
  position: absolute;
  background-color: var(--background-default-grey);
  left: -41.5px;
}

/* BULLE */

.bubble {
  background: var(--background-alt-grey);
  position: relative;
  padding: 15px;
  max-width: 700px;
}

.bubble::after {
  content: "";
  border: 20px solid transparent;
  border-width: 12px 20px;
  position: absolute;
  left: -40px;
  top: 13px;
  border-right-color: var(--background-alt-grey);
}
