/* Set the footer at the bottom of the pages */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* Content css */
.background-welcome-page {
  background-color: var(--background-alt-brown-opera);
}

.centered-content {
  display: flex;
  justify-content: center;
}

.centered-text {
  text-align: center;
}

.blue-france {
  color: var(--text-title-blue-france);
}

.delete-margin-bottom {
  margin-bottom: 0;
}

.card-radius {
  background-color: var(--background-alt-blue-france);
  border-radius: 11px;
}

.display-column {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.pc-background-white {
  background-color: var(--background-default-grey);
}

.pc-background-alt-blue-france {
  background-color: var(--background-alt-blue-france);
}
