name: Tests

on:
    push:

jobs:
    test:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  cache: 'npm'
                  node-version-file: package.json
            - run: npm ci --include=dev
            - run: npx prettier -c .
            - run: npm run build
